<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="FLCS" connectionString="Your_connection_string" providerName="System.Data.SqlClient"/>

  </connectionStrings>
    <system.web>
      
      <!--<compilation debug="true" targetFramework="4.0" />
       <sessionState mode="StateServer"
    stateConnectionString="tcpip=127.0.0.1:42424"
    cookieless="false"
    timeout="20"/>--> 

    <webServices>
    <protocols>
      <add name="HttpGet"/>
    </protocols>
  </webServices>
    </system.web>
  
</configuration>
